*{
	margin: 0px;
	padding: 0px;
}
#shang{
	background-image:url(images/13.gif);
	background-repeat: repeat;
	height: 80px;
}
#xia{
	background-image:url(images/14.gif);
	background-repeat: repeat-x;
	height: 640px;
}
#top{
	width: 918px;
	height: 80px;
	/*background-color: #f00;*/
	margin: 0 auto;
}
.logo{
	float: left;
}
.nav li{
	list-style: none;
	float: left;
	margin-top: 34px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	font-family: Helvetica;
}
@font-face{
	font-family: Helvetica
	src:url(字体/helvetiva.otf);
}
.nav li:hover{
	border-bottom:3px solid #000; 
}
.xiainner{
	/*background-color: #00f;*/
	width: 1080px;
	height: 640px;
	margin: 0 auto;
}

#banner{
    /*width: 1078px;*/
	height: 640px;
	margin:0 auto;
/*	margin-left: 150px;*/
	/*background-color: pink;*/
}
#shangmian{
    width: 1078px;
	height: 430px;
	margin:0 auto;
	/*background-color: #f66;*/
}
#a{
	clear: both;
	width: 80px;
	height: 430px;
	/*background-color: yellow;*/
	float:left;
}
#a img{
	padding-top: 210px;
}
#b{
	width: 540px;
	height: 430px;
	/*background-color: blue;*/
	float: left;
}
.duanluo span{
	display: block;
}
#b h4{
	font-size: 48px;
	font-family:chunkfive;
	padding-top: 62px;
	padding-bottom: 24px;
}
@font-face{
	font-family:chunkfive;
	src:url(字体/Chunkfive.otf);
}
#b p{
	font-family: Times New Roman;
	font-size: 18px;
	line-height: 30px;
}/*
#xia{
	height: 214px;
	background-color: #0ff;
}*/
.tupianyi{
	float: left;
	margin-top: 110px;
	margin-right: 22px;
}
.tupianer{
	float: left;
	margin-top: 110px;
}
#c{
	/*background-color: #ccc;*/
	float: left;
	width: 360px;
	height: 430px;
	padding-top: 26px;
}
#d{
	/*background-color: yellow;*/
	width: 80px;
	height: 430px;
	float: left;
	margin-left: 18px;
}
#d img{
	padding-top: 210px;
	float: right;
}
/*#xiainside{
	height: 214px;
	background-color: #0ff;
}*/
#xiainside img{
	text-align: center;
	padding-left: 500px;
	padding-top: 135px;
}

#container{
	background-image:url(images/9.gif);
	background-repeat: repeat;
	height: 389px;
}
.big-box{
	width: 900px;
	height: 389px;
	margin: 0 auto;
}
.zuo{
	float: left;
}
.zuo h4{
	padding-top: 46px;
    padding-bottom: 37px;
    font-size: 24px;
    font-family: ChunkFive;
    color: #ececec;
}
.zuo span{
	display: block;
}
@font-face{
	font-family:DroidSerif; 
	src:url(字体/DroidSerif-Italic.ttf);
}
.zuo p{
	font-size: 16px;
	font-family: DroidSerif;
	color: #ececec;
	line-height: 24px;
}
.yi{
	padding-bottom: 32px;

}
.you{
	float: left;
	margin-left: 40px;
}
.you h4{
    font-family: ChunkFive;
    font-size: 24px;
    color: #ececec;
    padding-top: 46px;
    margin-bottom: 35px;
}
.youyi{
	width: 300px;
	height: 60px;
	margin-bottom: 9px;
}

.youyi img{
    float: left;
}
.youyi p{
	line-height: 24px;
	color: #666;
}
.youyi span{
	color: #ececec;
}

#footer{
	background-image:url(images/0.gif);
	background-repeat: repeat;
	height: 90px;
}
.footerinner{
	width: 940px;
	height: 90px;
	margin: 0 auto;

}
.zuoyi{
	font-size: 14px;
	font-family: Arial;
	line-height: 90px;
	color: #fff;
	float: left;
}
.zuoer{
	font-size: 14px;
	font-family: Arial;
	color: #fff;
	float: right;
	line-height: 90px;
	
}
.zuoer li{
	list-style: none;
	float: left;
	padding-left: 15px;
}



